<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kouhai">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KouHai">
        <activity
            android:name=".SenpaiNote10"
            android:exported="false" />
        <activity
            android:name=".SenpaiNote9"
            android:exported="false" />
        <activity
            android:name=".SenpaiNote8"
            android:exported="false" />
        <activity
            android:name=".SenpaiNote7"
            android:exported="false" />
        <activity
            android:name=".SenpaiNote6"
            android:exported="false" />
        <activity
            android:name=".SenpaiNote5"
            android:exported="false" />
        <activity
            android:name=".SenpaiNote4"
            android:exported="false" />
        <activity
            android:name=".SenpaiNote3"
            android:exported="false" />
        <activity
            android:name=".SenpaiNote2"
            android:exported="false" />
        <activity
            android:name=".StartquizActivity"
            android:exported="false" />
        <activity
            android:name=".Quiz1Activity"
            android:exported="false" />
        <activity
            android:name=".Chat1Activity"
            android:exported="false" />
        <activity
            android:name=".Video1Activity"
            android:exported="false" />
        <activity
            android:name=".Lesson1"
            android:exported="false" />
        <activity
            android:name=".SenpaiNote"
            android:exported="false" />
        <activity
            android:name=".Hiragana"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>